[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/

MemoryCaptures/

Assets/AssetStoreTools*

.vs/
.gradle/
ExportedObj/

*.csproj
*.unityproj
*.sln
*.slnx
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*-compile.log
*-create.log
*-ide-fix.log

.DS_Store
Thumbs.db
